{% extends "base.html" %}
{% load bootstrap_icons %}


{% block title %} Подтверждение удаления привычки {% endblock %}

{% block content %}
<h1>{% bs_icon 'trash' %} Удалить привычку</h1>

<p>
  Вы уверены, что хотите удалить привычку <strong>{{ object.name }}</strong>?
</p>

<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-danger">{% bs_icon 'check-lg' %} Удалить</button>
  <a href="{% url 'habits_app:habit_list' %}" class="btn btn-outline-secondary ms-2">{% bs_icon 'x-lg' %} Отмена</a>
</form>
{% endblock %}
