{% extends "base.html" %}
{% load user_extras %}

{% block title %}Подтверждение удаления пользователя{% endblock %}

{% block content %}
<h1>Подтверждение удаления</h1>

<p>Вы действительно хотите удалить пользователя <strong>{{ object.email }}</strong>?</p>

{% if user|has_group:"moderators" or user == object %}
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">Удалить</button>
    <a href="{% url 'users:user_detail' object.pk %}" class="btn btn-outline-secondary ms-2">Отмена</a>
  </form>
{% else %}
  <p>У вас нет прав удалять этого пользователя.</p>
  <a href="{% url 'users:user_list' %}" class="btn btn-primary mt-3">Вернуться к списку пользователей</a>
{% endif %}

{% endblock %}
