{% extends "base.html" %}
{% load user_extras %}

{% block title %}Пользователь: {{ object.email }}{% endblock %}

{% block content %}
<h1>Информация о пользователе {{ object.email }}</h1>

<ul>
  <li>Email: {{ object.email }}</li>
  <li>Аватар:
    {% if object.avatar %}
      <img src="{{ object.avatar.url }}" alt="Аватар пользователя" width="100" />
    {% else %}
      Нет аватара
    {% endif %}
  </li>
  <li>Токен: {{ object.token|default:"-" }}</li>
</ul>

{% if perms.auth.change_user or object == request.user %}
  <a href="{% url 'users:user_update' object.pk %}" class="btn btn-outline-primary">Редактировать профиль</a>
{% endif %}

{% if perms.auth.delete_user or object == request.user %}
  <a href="{% url 'users:user_delete' object.pk %}" class="btn btn-outline-danger ms-2"
     onclick="return confirm('Вы уверены, что хотите удалить этого пользователя?');">
     Удалить
  </a>
  <a href="{% url 'users:dashboard'%}" class="btn btn-outline-secondary ms-2">Отмена</a>
{% endif %}
{% if user|has_group:"moderators" or request.user.is_superuser %}
<a href="{% url 'users:user_list' %}" class="btn btn-outline-secondary ms-2">Назад к списку</a>
{% endif %}
{% endblock %}
